/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

/* Top part */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(235, 46, 210, 0);
    border-bottom: 1px solid #dbdbdb;
}

.navbar .logo img {
    height: 40px;
}

/* Profile Section */
.profile-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 75px;
}

.profile-info {
    line-height: 1.5;
}

.profile-info h1 {
    font-size: 24px;
}

.profile-info p {
    font-size: 16px;
    color: #777;
}

/* Photos Section */
.photos-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photos-grid .photo img {
    width: 100%;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
}
